<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
</head>
<body>
    <h1>Конвертер валют</h1>

<form method="POST" action="{{url_for('calculate')}}">
    <div>
        <label>Выберите валюту</label>
        <select name="currency_from" class="form-control">
            <option value="none">Выберите валюту</option>
            {% for currency in currency_list %}
                <option value="{{currency}}">{{currency}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>
        <label>Выберите валюту</label>
        <select name="currency_to" class="form-control">
            <option value="none">Выберите валюту</option>
            {% for currency in currency_list %}
                <option value="{{currency}}">{{currency}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>
        <label>Введите сумму</label>
        <input type="text" name="amount">
    </div>
    <br>
    <button type="submit">Конвертировать</button>
</form>
<br>
{% if formatted %}
    <div>
        <h2>{{amount}} {{currency_from}} = {{formatted}} {{currency_to}}</h2>
    </div>
    <button><a href={{url_for('form')}}>Очистить</a></button>
{% endif %}

</body>
</html>